@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: aqua;
}
h1 {
  height: max-content;
  text-align: center;
  font-size: 54px;
  font-family: "Josefin Sans", sans-serif;
}
#letsSpeak {
  opacity: 80%;
}
#letsSpeak:hover {
  opacity: 100%;
  cursor: pointer;
}
.mainBody {
  margin-bottom: 100px;
  width: 400px;
  position: relative;
}
.date {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -40%;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dateTimeBG {
  position: absolute;
}
#outerCircle {
  animation: rotation 20s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#innerCircle {
  animation: rotationRev 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes rotation {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotationRev {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weatherBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  position: relative;
  left: 100%;
  top: -150px;
}
